.login{
    display:flex;
    justify-content: center;
  }
  
  .background{
      box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 600px;
      width:1500px;
      margin-top: 50px;
      align-items: center;
     
     
  }