.login {
  display: flex;
  justify-content: center;
  color: #f8f8f8;
}

.login .background {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 600px;
  width: 1200px;
  margin-top: 10px;
  align-items: center;
}

.login img {
  height: 600px;
  width: 600px;
  border-radius: 30px;
  padding-right: 150px;
}

.login .form {
  display: flex;
  flex-direction: column;
}

.login .formTitle {
  color: black;
}

.login .formFields {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-right: 150px;
}

.login .formBtn {
  width: 300px;
  margin-top: 20px;
  background-color: #004785;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
